.battle-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #f2cdac;
	text-shadow: 1px 1px 3px #000000;
}

.battle-container {
	width: auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	border-style: dashed;
	border-color: #f2cdac;
	border-radius: 12px;
	margin: 2vh;
	padding: 2vh;
}

.winner {
	color: #FFD700;
	text-shadow: 1px 1px 3px #313010;
}

.loser {
	color: #C0C0C0;
	text-shadow: 1px 1px 3px #1d1d1d;
}

.versus {
	display: flex;
	align-self: center;
	padding: 2vh;
}

.versus h2 {
	color: #f2cdac;
	text-shadow: 1px 1px 3px #000000;
}

.battle-btn {
	width: 60vh;
}

@media only screen and (max-width: 560px) {
	.battle-container {
		flex-direction: column;
		align-items: center;
	}
}
