.start-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8vh;
}

.text-container {
	width: 100%;
}

p {
	color: white;
	font-size: 1em;
}

.hamster-jedi {
	width: 100%;
	margin-top: 15vh;
}

button {
	background-color: #678d96;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 3px;
	cursor: pointer;
	transition-duration: 0.4s;
	box-shadow: 1px 2px 6px rgb(48, 48, 48);
  }

  button:hover {
	background-color: #516d74;
  }


  @media only screen and (max-width: 960px) {
	.start-view {
		flex-direction: column;
		align-items: center;
	}
}
