h1 {
	color: #f2cdac;
	text-shadow: 1px 1px 3px #000000;
}

p {
	color: white;
}

.hamster-jedi {
	width: 30%;
}

button {
	background-color: #a65c41;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	box-shadow: 1px 2px 6px rgb(48, 48, 48);
  }

  button:hover {
	background-color: #854b36;
  }