h1 {
	color: #ffa353;
	text-shadow: 1px 1px 3px #1a0c00;
	margin-top: 10vh;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
}

.gallery-card p {
	color: #5a5332
}

.delete-btn {
	width: 88%;
	align-self: center;
	background-color: #d4b78d;
}

.delete-btn:hover {
	background-color: #978165;
}

@media only screen and (max-width: 1024px) {
	.gallery-container {
		grid-template-columns: repeat(3, auto);
	}
}

@media only screen and (max-width: 768px) {
	.gallery-container {
		grid-template-columns: repeat(2, auto);
	}
}

@media only screen and (max-width: 480px) {
	.gallery-container {
		grid-template-columns: repeat(1, auto);
	}
}