.card-wrap {
	margin-bottom: 15vh;
}

.hamster-card {
	width: 35vh;
	height: 35vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #f2cdac;
	border-radius: 4px;
	margin: 3vh;
	padding: 2vh;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.hamster-card img {
	width: auto;
	height: 22vh;
}

.hamster-card:hover {
	transform: scale(1.15);
}

.hamster-info {
	width: 40vh;
	transform: scale(1.2);
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #f2cdac;
	border-radius: 4px;
	margin: 2vh;
	padding: 3vh;
}

.hamster-info h3 p {
	color: #4d3e31
}

.hamster-stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 3vh;
}

.hamster-stats p {
	margin: 2vh;
	text-shadow: 1px 1px 2px #686868;
}

.close {
	width: 10%;
	align-self: flex-end;
	margin: 1vh 1vh 2vh;
}

.delete-btn {
	width: 40%;
	align-self: center;
	background-color: #c5a78e;
}