.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
	background-color: #f2cdac;
	box-shadow: 0 1px 6px rgb(48, 48, 48);
	padding: 0.5em;
	flex: 0 0 auto;
	position: relative;
}

nav a {
	padding: 0.2em 1.5em;
	text-decoration: none;
	transition: background-color 0.3s linear;
}

nav a:hover {
	background-color: #c5a486;
}

nav a.active {
	font-weight: bold;
}

nav a:visited {
	color: #5a5332;
}

main {
	background-color: #73613f;
	flex: 1 1 auto;
}
